#root {
    width: 100%;
    height: 100%;
}

.App {
    height: 100%;
    width: 100%;
    display: flex;
}

.App-left {
    flex: 1;
    width: 50%;
    height: 100%;
    /* 设置左边背景图属性 */
    background-image: url("../src/images/login-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.App-right {
    flex: 1;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.or-divider {
    display: flex;
    align-items: center;
    color: #666;
    font-size: 16px;
    margin: 20px 0;
}

/* 采用伪对象选择器实现分割线效果 */
.or-divider::before,
.or-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
}

/* 移动端适配 */
@media (max-width: 768px) {
    .App-left {
        display: none;
    }

    .App-right {
        flex: 1;
        width: 100%; 
    }
}